# pytorch lightning
lightning_logs/

# License-protected data
data/swb/swb_audios
data/swb/swb_ms98_transcriptions
tests/data/pseudo_switchboard/swb_audios

# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
